.experience-page {
  max-width: 400px;
  margin: auto;
  position: relative;

  .page-header {
    justify-content: space-between;
    padding: 12px 16px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

    .search-field {
      position: relative;
      
      input {
        padding: 9px 9px 9px 39px;
        border: none;
        background: #F5F5F5;
        border-radius: 8px;
        outline: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: -0.154px;
        color: #414047;
        width: 250px;


        &::placeholder {
          color: #BEBEC2;
        }
      }

      img {
        position: absolute;
        top: 10px;
        left: 11px;
      }
    }

  }

  .page-content {
    padding: 0 16px;
  }

  .experiences-item {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;

    &-icon {
      margin-right: 11px;
    }

    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: -0.154px;
      color: #414047;
      margin: 0 0 5px;
    }

    &-description {
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      color: #6F6E73;
      margin: 0;
    }

    &-members {
      font-weight: 500;
      font-size: 12px;
      line-height: 22px;
      color: #587BE0;
      margin: 0;
    }
  }

  .popular-categories-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14px 13px;

    &-item {
      padding: 12px;
      border-radius: 6px;

      &-icon {
        margin-bottom: 16px;
      }

      .d-flex {
        justify-content: space-between;
      }

      span {
        font-weight: 600;
        font-size: 15px;
        line-height: 20px;
        color: rgba(51, 55, 59, 0.7);
      }
    }
  }
}

.d-flex {
  display: flex;
}

.cursor {
  cursor: pointer;
}

.section-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.154px;
  color: #414047;
  margin-bottom: 15px;

  &.no-margin {
    margin: 0;
  }
}

.section-header {
  justify-content: space-between;
  margin-bottom: 16px;

  a {
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.408px;
    color: #885FFF;
    text-decoration: none;
    display: flex;
    align-items: center;

    span {
      margin-right: 12.5px;
    }
  }
}

.experience-detail-page {
  max-width: 400px;
  margin: 0 auto;

  .page-header-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #E5D0FF;
    z-index: -1;
  }

  .top-content {
    padding: 27px 19px;

    .page-header {
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 10px;

      .share-link {
        img {
          width: 18px;
        }

        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.408px;
          color: #587BE0;
          margin-left: 10px;
        }
      }
    }

    .description-section {
      h5 {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #414047;
        margin: 0 0 3px;
      }

      .description {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E73;
        margin: 0 0 8px;
      }

      .category {
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #587BE0;
      }
    }

    .members-count {
      .open-link {
        padding: 8.5px 10px;
        background: #414047;
        border-radius: 10px;
        outline: none;
        border: none;
        min-width: 105px;

        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: -0.408px;
          color: #FFFFFF;
          margin-right: 16px;
        }
      }

      .mumbers {
        margin-left: 16px;
        width: 100%;
        align-items: center;

        img {
          width: 16px;
          margin-right: 6px;
        }

        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 22px;
          color: #6F6E73;
        }        
      }
    }
  }

  .custom-tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #DFDFE0;

    .tab-item {
      width: 50%;
      text-align: center;
      padding: 11px 0;
      border-bottom: 3px solid white;
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: -0.154px;
      color: #6F6E73;

      &.active {
        border-bottom: 3px solid #33373B;
        color: #33373B;
      }
    }
  }

  .tab-content {
    padding: 21px;

    .overview-section {
      .detail-header {
        justify-content: space-between;
        margin-bottom: 20px;

        h6 {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;          
          letter-spacing: -0.154px;
          color: #414047;
          margin: 0;
        }
      }

      .detail-hidden {
        transform: rotate(180deg);
        transition: ease 200ms transform;
      }

      .detail-visible {
        transform: rotate(0deg);
        transition: ease 200ms transform;
      }

      .description {
        margin-bottom: 34px;
      }

      a {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        color: #587BE0;
        text-decoration: none;

        img {
          margin-right: 10px;
        }
      }
    }

    .activity-list {

      .activity-found {
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        color: #6F6E73;
        text-align: center;
        padding: 2px 9px;
        background: #F5F5F5;
        border-radius: 20px;
        max-width: 130px;
        margin: 0 auto 18px;
      }

      .activity-item {
        margin-bottom: 24px;

        &-icon {
          margin-right: 17px;
        }

        .description {
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          color: #414047;
          margin: 0 0 5px;

          span {
            color: #885FFF;
          }          
        }

        .days-ago {
          font-weight: 500;
          font-size: 13px;
          line-height: 18px;
          color: #6F6E73;
          margin: 0;
        }
      }
    }
  }
}

.modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(51, 55, 59, 0.4);
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  .category-filter {
    width: 270px;
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 10%);
    padding: 17px 19px;

    .modal-header {
      justify-content: space-between;
      margin-bottom: 20px;

      .filter-count {
        min-width: 24px;
        min-height: 24px;
        width: 24px;
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        color: #FFFFFF;
        margin-left: 11px;
        background: #885FFF;
        border-radius: 20px;
      }

      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #414047;
      }
    }

    .checkbox-list {
      .checkbox-item {
        margin-bottom: 16px;
        align-items: center;

        img {
          margin: 0 16.5px;
        }

        span {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #414047;
        }

        .all-check {
          margin-left: 16px;
        }
      }
    }
  }
}

.custom-checkbox {
  position: absolute;
  opacity: 0;

  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }

  & + label:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 3px;
    border: 2px solid #6F6E73;
  }

  &:checked + label:before {
    background-color: #885FFF;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 5px;
    height: 10px;
    border: 1px solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}